<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <% unless current_user %>
      <%= link_to "Sign in with GitHub", "/auth/githubteammember", method: :post %>
    <% end %>
  </body>
</html>
